/* signup  */
.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-control {
    height: 40px;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .form-control:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  
  .btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0.25rem;
  }
  
  .btn-primary:hover {
    background-color: #23527c;
    border-color: #1d4e7a;
  }

  /* aheader */
  .navbar-brand{
    color: white;
  }